/* Fuentes */
@font-face {
    font-family: 'Lora';
    src: url('../fonts/lora/lora-v35-latin-500.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Great Vibes';
    src: url('../fonts/greatvibes/great-vibes-v19-latin-regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Playfair Display';
    src: url('../fonts/playfair/playfair-display-v37-latin-900.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Playfair300';
    src: url('../fonts/playfair300/playfair-v2-latin-300.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
  }

/* Normalizar y configuración Body */
*{
    margin: 0;
    padding: 0;
}
body{
	font-family: 'Lora', serif;
    font-weight: 500;
    height: 100vh;
    min-width: 320px;
}

/* Header y Navegacion */

header{
    height: 10vh;
    padding: 15px;
    border-bottom: 2px solid #ffffff33;
    background-color: #615e66;
    font-family: 'Great Vibes', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.2em;
    box-sizing: border-box; /* Incluyo el padding y border en el alto y ancho total */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.cerrar,
.abrir{
    display: none;
}
header h1{
    color: black;
    text-shadow: 0 0 20px white;
}
header a{
    text-decoration: none;
}
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-evenly;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
li a{
    color: #E6D9D1;
}
header nav{
    width: 62%;
}
nav a:hover{
    color: #d7b292;
    text-shadow: 0 0 30px black;
}
header h1:hover{
    text-shadow: 0 0 10px rgb(255, 255, 255);
}
nav li:not(:last-child){
    margin-right: 7px;
}

/*Secciones*/

section{
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    overflow: auto; /*Las barras de desplazamiento solo aparecerán cuando sean necesarias*/
}
.inicio{
    background-image: url("../img/2.jpg");
    background-position-y: -240px ;
}
.bio{
    background-image: url("../img/cuerpoentero1.JPG");
    justify-content: flex-start;
    align-items: flex-start;
}
.bio div{
    width: 38%;
    margin: 20px;
    font-size: 0.83em;
}
.bio h2{
    margin-bottom: 10px;
}
.formacion{
    background-image: url("../img/4.jpg");
    background-position-y: -190px;
    align-items: flex-start;
}
.formacion div:first-child{
    background-color: #9b94a2c7;
    color: rgb(255, 255, 255);
    width: 100%;
    padding: 20px 30px;
    font-size: 0.85em;
    position: fixed;
    top: 0;
    height: 80vh;
    box-sizing: border-box;
    margin: 10vh 0;
    overflow: auto;
}
.formacion h2{
    margin-bottom: 10px;
}
.formacion ul{
    margin: 30px 0 30px 60px;
}
.logos{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 70px;
}
.logos img{
    width: 20vw;
    max-width: 200px;
}
.trayectoria{
    background-image: url("../img/14.jpg");
    background-position-y: -100px;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
}
.trayectoria div{
    width: 27%;
    margin: 20px 0 0 20px;
    padding: 14px;
    font-size: 0.82em;
    border-bottom: 1px solid white;
    border-right: 1px solid white;
}
.trayectoria h2{
    margin-bottom: 10px;
}
.trayectoria ul{
    margin: 15px 0 15px 15px;
}
.trayectoria video{
    width: 35%;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    top: 15px;
    right: 50px;
}
.galeria{
    background-image: url("../img/3.jpg");
    background-position-x: center;
    background-position-y: -400px;
    flex-direction: column;
}
.galeria h2{
    background-color: #615e66;
    color: #E6D9D1;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 0 0 2px 2px rgb(0 0 0 / 51%);
}
.fotos{
    display: grid;
    grid-template-columns: repeat(4,auto);
    gap: 10px;
    width: 75%;
    max-height: 60vh;
}
.fotos a,
.fotos img{
    border-radius: 15%;
    box-shadow: 0 0 30px 10px #7f55393b;
    width: 100%;
    max-width: 200px;
}
.modal{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
}
.visible{
    display: flex;
}
.visible img{
    max-height: 90vh;
    max-width: 70vw;
}
.modal button{
    border: none;
    background-color: transparent;
    color: white;
    font-size: 4em;
    margin: 0 10px;
}

/* Pie de pagina */

footer{
    height: 10vh;
    padding: 10px 20px;
    background-color: #000000;
    color: #d7b292;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}
footer img{
    height: 8vh;
}
footer a{
    text-decoration: none;
    color: #d7b292;
}
footer a:not(:last-child){
    margin-right: 15px;
}
footer a:hover{
    text-shadow: 0 0 30px white;
    color: #E6D9D1;
}
footer h2{
    margin-right: 25px;
}
footer i{
    font-size: 1.5em;
}
footer div{
    display: flex;
    align-items: center;
    height: 100%;
}

/*Media Query*/

@media screen and (max-width: 1024px){
    header h1{
        font-size: 1.3em;
    }
	.inicio{
        background-position-y: 0;
        background-position-x: center;
    }
    .bio div{
        font-size: 0.72em;
    }
    .formacion{
        background-position-y: 0;
        background-position-x: center;
    }
    .trayectoria{
        flex-direction: column;
        align-items: center;
        background-position-x: center;
        background-position-y: 0;
    }
    .trayectoria div{
        font-size: 0.8em;
        width: 90%;
        background-color: #9b94a2c7;
        border-radius: 10px;
        color: white;
        margin-left: 0;
        margin-bottom: 25px;
    }
    .trayectoria video{
        width: 60%;
        position: static;
        margin-bottom: 10px;
    }
    .galeria{
        background-position-y: -30px;
    }
}
@media screen and (max-width: 750px){
	footer,
    header ul{
        font-size: 0.9em;
    }
    .bio div{
        font-size: 0.63em;
        width: 35%;
    }
    .formacion div:first-child{
        font-size: 0.9em;
    }
    .logos{
        margin-top: 20px;
    }
    .trayectoria video{
        width: 75%;
    }
    .galeria h2{
        font-size: 1.2em;
    }
    .modal button{
        font-size: 2em;
    }
    footer img{
        height: 7vh;
    }
}
@media screen and (max-width: 600px){
	footer,
    header ul{
        font-size: 0.8em;
    }
    header ul{
        display: grid;
        grid-template-columns: repeat(2,auto);
        grid-template-rows: repeat(2,auto);
        gap: 15px;
    }
    nav li:nth-child(even){
        text-align: end;
        margin-right: 7px;
    }
    .bio{
        align-items: flex-end;
        justify-content: center;
    }
    .bio div{
        background-color: #9b94a2c7;
        color: rgb(255, 255, 255);
        width: 100%;
        padding: 20px 30px;
        font-size: 0.85em;
        position: fixed;
        top: 0;
        height: 80vh;
        box-sizing: border-box;
        margin: 10vh 0;
        overflow: auto;
    }
    .formacion div:first-child{
        font-size: 0.8em;
    }
    .galeria{
        background-position-y: center;
    } 
    .fotos{
        grid-template-columns: repeat(2,auto);
        gap: 8px;
        max-width: 250px;
    }
    .galeria h2{
        font-size: 1em;
    }
    footer img{
        height: 6vh;
    }
    footer{
        padding: 10px 6px;
    }
}
@media screen and (max-width: 500px){
    nav{
        position: fixed;
        top: -100vh;
        right: 15px;
        padding: 20px;
        background-color: #000000c2;
        transition: top 0.8s;
        border-radius: 5px;
        z-index: 1;
    }
    .desplegado{
        top: 55px;
    }
    nav li:nth-child(even){
        text-align: start;
    }
    nav ul{
        display: block;
        font-family: 'Playfair300';
        font-weight: 300;
    }
    nav li{
        font-size: 2em;
    }
    nav li:not(:first-child){
        margin-top: 20px;
    }
    nav a{
        color: white;
    }
    .cerrar{
        display: block;
        position: absolute;
        right: 20px;
        border: none;
        background-color: transparent;
        color: white;
        font-size: 1.5em;
    }
    .abrir{
        display: block;
        width: 30px;
        border: 2px outset #9E9E9E;
        background-color: transparent;
        font-size: 1.1em;
        border-radius: 5px;
    }
    .bio div{
        font-size: 0.77em;
    }
    footer h2{
        display: none;
    }
    footer div{
        flex-direction: column;
        align-items: flex-start;
        font-size: 1.2em;
        justify-content: space-around;
    }
    footer a:not(:last-child){
        margin-right: 0;
    }
}
@media screen and (max-width: 400px){
	.bio div{
        font-size: 0.69em;
    }
    .formacion div:first-child{
        font-size: 0.7em;
    }
    .galeria{
        justify-content: flex-start;
    }
    footer img{
        height: 5.8vh;
    }
    footer div{
        font-size: 1em;
    }
}